 body {
     margin: 0;
 }

 * {
     box-sizing: border-box;
 }

 main{
    width: 850px;
    margin: 0 auto;
 }

 h1 {
     margin: 0;
     padding: 20px 0;
     background-color: #ECECEC;
 }

 form{
    background-color: #ECECEC;
 }

 input{
    background-color: #D9D9D9;
    border: none;
 }

 button{
    background-color: #D9D9D9;
    border: none;
 }

 form>div{
    margin: 0 2%;
 }

.form_box1{
    display: flex;
    justify-content: space-around
}

.form_box1 button{
    width: 85px; height: 32px;
    font-size: 11px;
    margin-bottom: 10px;
}



.search_btn{
 width: 100px;
 height: 30px;
}

#download-btn{
    width: 85px; height: 32px;
    font-size: 11px;
    position: absolute;
}

 .title>input {
     width: 230px;
     height: 30px;
 }

 .search_bar {
     position: relative;
 }

 .search_bar>input {
     width: 400px;
     height: 30px;
 }

 .search_bar>button {
     position: absolute;
     right: 50px;
     height: 30px;
 }

 .search {
     height: 125px;
     width: 100%;
     background-color: #D9D9D9;
     overflow-x: scroll;
     margin: 10px auto 0;

 }

 .frame_num>input {
     width: 100px;
     height: 22px;
     margin-bottom: 20px;
 }


 input[type="radio"] {
     appearance: none;
     width: 16px;
     height: 16px;
     border-radius: 50%;
     vertical-align: bottom;
     border: 1px solid black;
 }

 .radio_black {
     background-color: black;
 }

 .radio_pink {
     background-color: pink;
 }

 .radio_skyblue {
     background-color: skyblue;
 }

 .radio_gray {
     background-color: gray;
 }
 .radio_green {
     background-color: green;
 }

 [type="radio"]:checked {
     border: 1px solid red
 }

 h2 {
    margin: 0;
     text-align: center;
     width: 100%; height: 180px;
    color: white;
    line-height: 180px;
 }
 
section{
    background-color: black;
}


 article {
     width: 100%;
     margin: auto;
     display: flex; 
     flex-wrap: wrap;
     padding: 15px;
 }

 article>div{
    background-color: white;
    width: 180px; height: 180px;
    margin: 12px;
    border: 1px solid black;

 }

